
PORT=8080
AGENT_BEARER=sjk3829jslq9asdk023
GOOGLE_APPLICATION_CREDENTIALS=/etc/secrets/ga4-service-account.json
GA_PROPERTY_ID=YOUR_GA4_PROPERTY_ID
YT_CLIENT_ID=your-youtube-client-id
YT_CLIENT_SECRET=your-youtube-client-secret
YT_REFRESH_TOKEN=your-youtube-refresh-token
META_ACCESS_TOKEN=EAAK1mvf6W6kBPb1lrBIN9Xt63djaYZCUpSze5hfFJRKbjtUbjPnInuZBTMniUfk7wHugZA9AuTVUvmdkPI6QHPqTvkyz6DW9T2RBSzv0ZBR61XMbUdo2Nj3YORQPi6vvCcaji6iCtE3heKnTDRUML32MUIZBDuOa4cp6SelFQZBIlelpm0Y3MqFNb0nwBw2QZDZD
TIKTOK_ACCESS_TOKEN=
